.cards {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  .ant-col {
    padding-top: 56.25%;
    border-radius: 8px;
    position: relative;
  }
  &:after, &:before {
    content: none;
  }
  @media screen and (max-width: 320px) {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}
